.username-container {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-right: 8px;
  color: #444444;
}

.username-close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}

.username-title {
  font-size: 18px;
}

.username-header {
  text-align: center;
  font-size: 18px;
  width: calc(100% - 64px);
  display: inline-block;
  vertical-align: middle;
}

.username-buttons {
  text-align: center;
}

.username-button {
  margin-left: 16px;
  background: #387CA5;
}

.username-space {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.username-fields {
  text-align: center;
  padding-top: 16px;
  width: 100%;
  margin: 0;
}

.username-text {
  width: 100%;
}

.username-at {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding: 8px;
}

.username-alert {
  color: red;
  text-align: center;
  height: 16px;
  position: relative;
  top: -4px;
}

