<div class="username-container">

  <div class="username-title">
    <img class="username-close" src="assets/close.png" (click)="onClose()">
    <span class="username-header">Account Username</span>
    <div class="username-close"></div>
  </div>

  <div class="username-fields row">
    <div class="col-md-5">
      <mat-form-field class="username-text">
        <input matInput placeholder="Username" type="email" (keydown)="onUpdate()" spellcheck="false"
            (keydown.enter)="$event.target.blur()" [(ngModel)]="handle">
      </mat-form-field>
    </div>
    <div class="username-at col-md-2">@</div>
    <div class="col-md-5">
      <mat-form-field class="username-text">
        <input matInput placeholder="Registry" type="email" (keydown)="onUpdate()" spellcheck="false" 
            (keydown.enter)="$event.target.blur()" [(ngModel)]="registry">
      </mat-form-field>
    </div>
  </div>

  <div class="username-alert">
    <span *ngIf="alert">Username Not Available</span>
  </div>

  <div class="username-buttons">
    <button class="username-button" mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
    <div class="username-space"></div>
    <button class="username-button" mat-raised-button color="primary" [disabled]="disabled" 
        (click)="onSave()">Save</button>
  </div>

</div>
