.account-entry {
  top: max(1px - 1px, 50vh - 265px);
  color: #444444;
  padding: 16px;
  position: relative;
}

.account-profile {
  top: max(1px - 1px, 50vh - 285px);
  color: #444444;
  position: relative;
}

.account-title {
  font-size: 20px;
  text-align: center;
  padding: 16px;
}

.account-message {
  font-size: 16px;
  text-align: center;
}

.account-redirect {
  font-size: 12px;
  text-align: center;
}

.account-option {
  display: inline-block;
  float: right;
  position: absolute;
}

.account-eye {
  width: 24px;
  position: relative;
  left: -24px;
  top: 16px;
  cursor: pointer;
}

.account-username {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.account-password {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.account-text {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.account-inst {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 4px;
}

.account-label {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
}

.account-info {
  font-size: 16px;
}

.account-attach {
  margin: 0 auto;
  display: block;
  width: min(300px, 75vw);
  padding: 16px;
}

.account-img {
  margin: 0 auto;
  display: block;
  width: min(200px, 50vw);
  padding: 16px;
}

.account-create {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
  min-height: calc(100vh - 108px);
}

.account-form {
  border-radius: 8px;
  padding: 16px;
  width: min(500px, 100% - 32px);
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}

.account-control {
  text-align: center;
}

.account-button {
  background: #387CA5;
}

.account-spinner {
  margin: 0 auto;
  position: relative;
  top: -156px;
  opacity: 0.5;
}

.account-busy {
  display: inline;
  position: relative;
  left: calc(50% - 50px);
  top: 16px;
}

.base {
  width: 100%;
  background-color: white;
  color: #888888;
  padding: 8px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: min(1px - 1px, 100vh - 512px);
  width: 100%;
  background-color: white;
  color: #888888;
  padding: 8px;
  text-align: center;
}

.option {
  cursor: pointer;
  color: #888888;
}

.copyright {
}

.header {
  background-color: white;
}

.spacer {
  height: 8px;
  margin: 0 auto;
  opacity: 0.5;
}

.logo {
  height: 72px;
  padding: 8px;
}

.account-action {
  padding-top: 16px;
  text-align: center;
}

.generate-button {
  background: #387CA5;
  color: #ffffff;
}
  
