<div class="header">
  <img class="logo" src="assets/logo.png">
</div>

<div *ngIf="mode=='create'">
  <div *ngIf="entry==null" class="account-create">
    <div class="account-label">Welcome!</div>
    <div class="account-info">A Diatabase is your personal storage space to upload, store and access your contacts, photos, videos, and other data used with our community of apps.</div>
    <div class="account-info">The Diatabase software was created by Diatum, a nonprofit with a mission to give you ownership and control of your data and privacy, and is hosted by the sender of this link.</div>
    <img class="account-img" src="assets/unlocked.png">
    <div class="account-label">Let's get started.</div>
    <div class="account-info">First we need to create your personal Diatabase. Be sure to give it a strong password.</div>
    <mat-spinner *ngIf="busy" class="account-busy"></mat-spinner>
    <div class="spacer"></div>
    <div class="account-form">
      <div class="account-message">Diatabase Password</div>
      <mat-form-field class="account-password">
        <input matInput [type]="passwordType" placeholder="Password"
            (keydown.enter)="$event.target.blur()" [(ngModel)]="password">
      </mat-form-field>
      <div class="account-option">
        <img *ngIf="passwordType=='password'" class="account-eye" src="assets/hide.png" (click)="setPasswordType('email')">
        <img *ngIf="passwordType=='email'" class="account-eye" src="assets/show.png" (click)="setPasswordType('password')">
      </div>
      <mat-form-field class="account-password">
        <input matInput [type]="confirmType" placeholder="Confirm Password"
            (keydown.enter)="$event.target.blur()" [(ngModel)]="confirm">
      </mat-form-field>
      <div class="account-option">
        <img *ngIf="confirmType=='password'" class="account-eye" src="assets/hide.png" (click)="setConfirmType('email')">
        <img *ngIf="confirmType=='email'" class="account-eye" src="assets/show.png" (click)="setConfirmType('password')">
      </div>
      <div class="account-control">
        <button mat-raised-button class="account-button" color="primary" [disabled]="!isConfirmed()" 
            (click)="onCreate()">Create Diatabase</button>
      </div>
    </div>
    <img class="account-img" src="assets/locked.png">
  </div>
  <div *ngIf="entry!=null" class="account-create">
    <div *ngIf="!hasUsername()">
      <div class="account-label">Perfect. Now choose a username for our community.</div>
      <div class="account-info">The username is used to attach your Diatabase to apps and helps people find you in the public directory. The registry is the public directory where your username will be listed.</div>
      <mat-spinner *ngIf="busy" class="account-busy"></mat-spinner>
      <div class="spacer"></div>
      <div class="account-form">
        <mat-form-field class="account-username">
          <input matInput type="email" placeholder="Username" (keydown)="onUsername()" spellcheck="false"
              (keydown.enter)="$event.target.blur()" [(ngModel)]="username">
        </mat-form-field>
        <div class="account-alert">
          <span *ngIf="alert">Sorry, the username is not available</span>
        </div>
        <div class="account-control">
          <button mat-raised-button class="account-button" color="primary" [disabled]="!available" 
              (click)="onSave()">Save Username</button>
        </div>
      </div>
      <img class="account-img" src="assets/locked.png">
    </div>
    <div *ngIf="hasUsername()">
      <div class="account-label">Okay, now we need some apps!</div>
      <div class="account-info">In our system, apps need to attach to your Diatabase to have access to your data, including your contacts, photos and videos.</div>
      <img class="account-attach" src="assets/attach.png">
      <div class="account-inst">To attach an app:</div>
      <div class="account-info">
        <div class="account-num">1.</div>
        <div class="account-item">Generate a code below and copy it to your clipboard.</div>
      </div>
      <div class="account-info">
        <div class="account-num">2.</div>
        <div class="account-item">Open the app and enter your username in the login screen.</div>
      </div>
      <div class="account-info">
        <div class="account-num">3.</div>
        <div class="account-item">Paste the attachment code in the login screen.</div>
      </div>
      <div class="account-action">
        <button mat-raised-button class="generate-button" (click)="onCode()">Attach App</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mode!='create'">
  <div *ngIf="entry==null" class="account-entry">
    <div class="account-title">Account Portal</div>
    <div *ngIf="init">
      <div *ngIf="mode=='invalid'" class="account-message">Link is no longer valid.</div>
      <div *ngIf="mode=='invalid'" class="account-redirect">Redirecting to Login Page.</div>
      <div *ngIf="mode=='reset'" class="account-form">
        <div class="account-message">Reset Password</div>
        <mat-form-field class="account-text">
          <input matInput type="password" placeholder="Password" 
              (keydown.enter)="$event.target.blur()" [(ngModel)]="password">
        </mat-form-field>
        <mat-form-field class="account-text">
          <input matInput type="password" placeholder="Confirm Password" 
              (keydown.enter)="$event.target.blur()" [(ngModel)]="confirm">
        </mat-form-field>
        <div class="account-control">
          <button mat-raised-button class="account-button" color="primary" [disabled]="!isConfirmed()" 
              (click)="onReset()">Reset</button>
        </div>
      </div>
      <div *ngIf="mode=='login'" class="account-form">
        <mat-form-field class="account-text">
          <input matInput type="email" placeholder="Username" spellcheck="false" 
              (keydown.enter)="$event.target.blur()" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field class="account-text">
          <input matInput type="password" placeholder="Password"
              (keydown.enter)="$event.target.blur()" [(ngModel)]="password">
        </mat-form-field>
        <div class="account-control">
          <button mat-raised-button class="account-button" color="primary" [disabled]="!isReady()"
              (click)="onLogin()">Login</button>
        </div>
      </div>
    </div>
    <mat-spinner *ngIf="busy" class="account-spinner"></mat-spinner>
  </div>
  <div *ngIf="entry!=null" class="account-profile">
    <account-profile [emigo]="emigo" [entry]="entry"></account-profile>
  </div>
</div>

<div [ngClass]="{ 'footer': mode!='create', 'base': mode=='create' }">
  <div class="row">
    <div class="col-md-2"><a class="option" href="https://diatum.org/about/">About Diatum</a></div>
    <div class="col-md-2"><a class="option" href="https://diatum.org/policies-introduction/">Policies</a></div>
    <div class="col-md-2"><a class="option" href="https://diatum.org/developers/">Help</a></div>
    <div class="col-md-3"></div>
    <div class="col-md-3 copyright">&copy; Copyright Diatum 2021</div>
  </div>
</div>
