.expire-container {
  padding: 8px;
  color: #444444;
}

.expire-close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
}

.expire-header {
  text-align: center;
  font-size: 18px;
  width: calc(100% - 32px);
  display: inline-block;
  vertical-align: middle;
}

.expire-title {
  font-size: 18px;
}

.expire-message {
  text-align: left;
  font-size: 16px;
  color: #777777;
}

.exire-input {
  padding-right: 8px;
}

.expire-generate {
  width: 100%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
}

.expire-hours {
  width: 64px;
  margin-right: 32px;
  text-align: right;
}

.generate-button {
  background: #387CA5;
}

.expire-result {
  white-space: nowrap;
  height: 22px;
  text-align: center;
  padding-bottom: 32px;
}

.expire-code {
  font-size: 18px;
  display: inline-block;
  height: 32px;
  background: #BEE1FC;
  vertical-align: middle;
  margin-right: 16px;
  border-radius: 16px;
  text-align: center;
  width: 128px;
  padding-top: 6px;
}

.expire-nocopy {
  cursor: not-allowed;
  color: #dddddd;
}

.expire-copy {
  cursor: pointer;
  width: 16px;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
}

.expire-msg {
  width: 100%;
  text-align: center;
  height: 20px;
}

.expire-note {
  width: 100%;
  text-align: center;
  padding: 16px;
}

.expire-copied {
  position: relative;
  left: 12px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  left: 72px;
  top: -4px;
}

