<div class="expire-container">

  <div class="expire-title">
    <img class="expire-close" src="assets/close.png" (click)="onClose()">
    <span class="expire-header">App Attachment Code</span>
  </div>

  <div class="expire-msg">
    <div *ngIf="copied" class="expire-copied">copied</div>
  </div>
  
  <div class="expire-result">
    <div class="expire-copy"></div>
    <div class="expire-code">{{ code }}</div>
    <div class="expire-copy"><i class="fa fa-files-o" [ngClass]="{ 'expire-nocopy': code==null }" (click)="onCopy()"></i></div>
  </div>

  <div class="expire-note">
    <span>Use the code in a Diatum enabled app for access</span>
  </div>
  
</div>
