.confirm-container {
  color: #444444;
  padding: 16px;
}

.confirm-close {
  font-size: 16px;
  top: -8px;
  float: right;
}

.confirm-close-x {
  cursor: pointer;
}

.confirm-message {
  text-align: center;
  font-size: 16px;
  color: #777777;
}

.confirm-buttons {
  padding-top: 16px;
  text-align: center;
}

.confirm-button {
  margin-left: 16px;
  color: #ffffff;
  background: #387ca5;
}

.confirm-space {
  width: 16px;
  height: 16px;
  display: inline-block;
}

